.jumbotron {
  height: 100px;
}

.jumbotron .container {
  position: relative;
  top: 55%;
}
.jumbotron h1 {
  color: #006F69;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #006F69;

}

.middle {
  background-color:#efefef;
  border-bottom: 1px solid #dbdbdb;
}

.middle h2{
  color:#393c3d;
  font-size: 24px;
}

.middle p{
  margin-bottom: 13px;
  vertical-align: middle;
}
.middle h3{
  font-size: 24px;
  font-weight: bold;
}
.middle .container{
  margin-top: 10px;

}
.middle img{
  vertical-align: middle;
}
.middle article{
  margin-bottom: 13px;
}
