.jumbotron{
  height: 500px;
  background:url('../../images/bookscopy.jpg') no-repeat center center;
  /* Code to keep the image centered */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.middle h4{
  font-weight: bold;
}
