.jumbotron {
  height: 500px;
  background:url('../../images/squares.png') no-repeat center center;
  /* Code to keep the image centered */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 30%;
}

.jumbotron h1 {
  color: #46BCE3;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #46BCE3;
}

.middle h3{
  font-weight: bold;
}

.middle .invisHeader{
    visibility: hidden;
}
