.jumbotron {
  height: 100px;
}

.middle h2{
  color:#393c3d;
  font-size: 24px;
}

.middle p{
  vertical-align: middle;
}
.middle h3{
  font-size: 24px;
  font-weight: bold;
}
.middle .container{
  margin-top: 10px;
}
.middle img{
  vertical-align: middle;
}
