.jumbotron {
  height: 500px;
  background:url('../../images/BinCloud.png') no-repeat center center;
  /* Code to keep the image centered */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.thumbnail{
    width: 300px;
    height: 300px;
    overflow: auto;
}
