.nav {
  padding-top: 10px;
}
.nav a {
  color: #5a5a5a;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}
.nav .pull-right li {
  display: inline;
  float: left;
}

.GitHubLogo img:hover{
  content: url('../../images/GitHub/PNG/GithubBlue32px.png');
}
.LinkedInLogo img:hover{
  content: url('../../images/LinkedIn/In-2C-34px-R-Teal.png');
}

.EmailLogo img:hover{
  content: url('../../images/emailBlue.png');
}
.ResumeLogo img:hover{
  content: url('../../images/resume32Blue.png');
}

.jumbotron {
  height: 500px;
  /* Code to keep the image centered */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron .content{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  padding: 10px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}

.jumbotron .container {
  position: relative;
  top: 55%;
}

.jumbotron h1 {
  color: #7EFFCE;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #7EFFCE;
}

.middle {
    background-color:#efefef;
    border-bottom: 1px solid #dbdbdb;
}

.middle h1, h2, h3, h4, h5, h6, p, article, li{
  font-family: 'Roboto', sans-serif;
}
.middle h2{
    color:#393c3d;
}
.middle li{
  font-size: 18px;
}
.middle p, article{
  font-size: 18px;
}



.learn-more {
  background-color: #f7f7f7;
  margin-bottom: 20px;
}
.learn-more h1, h2, h3, h4, h5, h6, p, article, li{
  font-family: 'Roboto', sans-serif;
}
.learn-more p, article, li{
  font-size: 18px;
}
.learn-more h2{
    font-size: 30px;
}
.learn-more h3 {
  font-size: 24px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.footer{
  background-color: #333333;
}

.footerMap {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footerMap a {
  color: #b2b2b2;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: lowercase;
}
.footerMap li{
  display: inline;
}
.copyright li{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: inline;
  color: #b2b2b2;
  padding-left: 20px;
  padding-right: 20px;
  /*width: 33%;*/
}
